*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 打一些 windtail css 的补丁 */

.hidden {
  display: none;
}

.bg-orange-400 {
  background-color: rgb(251 146 60);
}
.bg-lime-400 {
  background-color: rgb(163 230 53);
}
.bg-emerald-400 {
  background-color: rgb(52 211 153);
}
.bg-cyan-400 {
  background-color: rgb(34 211 238);
}
.bg-sky-400 {
  background-color: rgb(56 189 248);
}
.bg-violet-400 {
  background-color: rgb(167 139 250);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.w-120 {
  width: 36rem;
}

.max-w-32 {
  max-width: 8rem;
}
