@keyframes neonBlue {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
[data-theme='dark'] .hola-container {
  font-weight: 200;
}

.neon-text {
  position: absolute;
}
[data-theme='dark'] .neon-text {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff,
    0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  animation: neonBlue 0.15s ease-in-out 3;
}

.link-item:hover {
  transition: inherit;
}
[data-theme='light'] .link-item:hover {
  background-color: #d8d8db;
}
[data-theme='dark'] .link-item:hover {
  background-color: #515253;
}

.close-label .gg-close {
  opacity: 0;
}

.close-label:hover .gg-close {
  opacity: 1;
}

.search-bar {
  font-family: 'Product Sans';
}
#quickly-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.1s;
}
.link-card:hover {
  min-width: fit-content;
  position: relative;
  z-index: 10;
}
