html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: auto;
}

#page-header-block {
  height: 200px;
}

/* @property --offset-deg1 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 309deg;
}
@property --offset-deg2 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 39deg;
}
@property --offset-deg3 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 144deg;
}
@property --offset-deg4 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 166deg;
}
@property --offset-deg5 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 212deg;
}
@keyframes rotateBackground {
  to {
    --offset-deg1: 129deg;
    --offset-deg2: 69deg;
    --offset-deg3: 288deg;
    --offset-deg4: 146deg;
    --offset-deg5: 359deg;
  }
}

.square {
  animation-name: rotateBackground;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;

  background-image: radial-gradient(circle at center center, transparent, var(--bg)),
    linear-gradient(
      var(--offset-deg1),
      rgba(90, 90, 90, 0.05) 0%,
      rgba(90, 90, 90, 0.05) 50%,
      rgba(206, 206, 206, 0.05) 50%,
      rgba(206, 206, 206, 0.05) 100%
    ),
    linear-gradient(
      var(--offset-deg2),
      rgba(13, 13, 13, 0.05) 0%,
      rgba(13, 13, 13, 0.05) 50%,
      rgba(189, 189, 189, 0.05) 50%,
      rgba(189, 189, 189, 0.05) 100%
    ),
    linear-gradient(
      var(--offset-deg3),
      rgba(249, 249, 249, 0.05) 0%,
      rgba(249, 249, 249, 0.05) 50%,
      rgba(111, 111, 111, 0.05) 50%,
      rgba(111, 111, 111, 0.05) 100%
    ),
    linear-gradient(
      var(--offset-deg4),
      rgba(231, 231, 231, 0.05) 0%,
      rgba(231, 231, 231, 0.05) 50%,
      rgba(220, 220, 220, 0.05) 50%,
      rgba(220, 220, 220, 0.05) 100%
    ),
    linear-gradient(
      var(--offset-deg5),
      rgba(80, 80, 80, 0.05) 0%,
      rgba(80, 80, 80, 0.05) 50%,
      rgba(243, 243, 243, 0.05) 50%,
      rgba(243, 243, 243, 0.05) 100%
    ),
    radial-gradient(circle at center center, var(--square-radial1), var(--square-radial1));
} */
