/* 更多按钮 */
.gg-more-vertical {
  transform: scale(var(--ggs, 1));
}

.gg-more-vertical,
.gg-more-vertical::after,
.gg-more-vertical::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-radius: 100%;
}

.gg-more-vertical::after,
.gg-more-vertical::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
}

.gg-more-vertical::before {
  top: -10px;
}

/* 深色模式 */
.gg-dark-mode {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  border: 2px solid;
  border-radius: 100px;
  width: 20px;
  height: 20px;
}

.gg-dark-mode::after,
.gg-dark-mode::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.gg-dark-mode::before {
  border: 5px solid;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: 0;
  width: 9px;
  height: 18px;
  top: -1px;
  left: -1px;
}

.gg-dark-mode::after {
  border: 4px solid;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  width: 4px;
  height: 8px;
  right: 4px;
  top: 4px;
}

/* 关闭 */
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}

.gg-close::after,
.gg-close::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.gg-close::after {
  transform: rotate(-45deg);
}

/* filter  */
.gg-filters {
  display: block;
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 19px;
  height: 19px;
  background: radial-gradient(circle, currentColor 26%, transparent 26%);
}

.gg-filters::after,
.gg-filters::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
  border-radius: 100%;
  width: 14px;
  height: 14px;
}

.gg-filters::after {
  bottom: 0;
  right: 0;
}

/* 邮箱图标 */
.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}

.gg-mail::after {
  content: '';
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}

/* 宽度 */
.gg-display-fullwidth {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  height: 14px;
  width: 16px;
  box-shadow: inset 0 0 0 2px, 0 2px 0 0, 0 -2px 0 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

/* 复制 */
.gg-copy {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 18px;
  border: 2px solid;
  margin-left: -5px;
  margin-top: -4px;
}

.gg-copy::after,
.gg-copy::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-copy::before {
  background: linear-gradient(to left, currentColor 5px, transparent 0) no-repeat right top/5px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat left bottom/ 2px 5px;
  box-shadow: inset -4px -4px 0 -2px;
  bottom: -6px;
  right: -6px;
  width: 14px;
  height: 18px;
}

.gg-copy::after {
  width: 6px;
  height: 2px;
  background: currentColor;
  left: 2px;
  top: 2px;
  box-shadow: 0 4px 0, 0 8px 0;
}

.gg-userlane {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 8px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 4px solid;
  border-top-color: transparent;
}

.gg-userlane::after,
.gg-userlane::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  background: currentColor;
  top: -12px;
}

.gg-userlane::before {
  border-radius: 20px;
  left: -4px;
}

.gg-userlane::after {
  right: -4px;
}

.gg-pen {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 14px;
  height: 4px;
  border-right: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: -2px;
}

.gg-pen::after,
.gg-pen::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-pen::before {
  background: currentColor;
  border-left: 0;
  right: -6px;
  width: 3px;
  height: 4px;
  border-radius: 1px;
  top: 0;
}

.gg-pen::after {
  width: 8px;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  left: -11px;
  top: -2px;
}

.gg-check {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-check::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.gg-bulb {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-bottom-color: transparent;
  border-radius: 100px;
}

.gg-bulb::after,
.gg-bulb::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-bulb::before {
  border-top: 0;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  top: 10px;
  border-bottom: 2px solid transparent;
  box-shadow: 0 5px 0 -2px, inset 2px 0 0 0, inset -2px 0 0 0, inset 0 -4px 0 -2px;
  width: 8px;
  height: 8px;
  left: 2px;
}

.gg-bulb::after {
  width: 12px;
  height: 2px;
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}
.gg-boy,
.gg-boy::after,
.gg-boy::before {
  display: block;
  box-sizing: border-box;
  border-radius: 42px;
}

.gg-boy {
  position: relative;
  width: 20px;
  height: 20px;
  transform: scale(var(--ggs, 1));
  overflow: hidden;
  box-shadow: inset 0 0 0 2px;
}

.gg-boy::after,
.gg-boy::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 2px;
  background: currentColor;
  box-shadow: 6px 0 0;
  left: 6px;
  top: 10px;
}

.gg-boy::after {
  width: 20px;
  height: 20px;
  top: -13px;
  right: -12px;
}
